@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5ebe0;
}

.ilss {
    background-image: url(imagens/logo-sem-o-fundo.png);
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 10vh;
    
    display: block;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
}

.hlc {
    text-align: center;
}

.loc {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 80%;

    height: 40%;
    padding: 15px;
    
}

.bc {
    display: flex;
    justify-content: space-evenly;
}

.bcsd {
    text-align: center;
    margin-top: 5vh;
}

.bcse {
    text-align: center;
    margin-top: 5vh;
    
}

.bca {
    text-decoration: none;
    background-color: #B36E00;
    color: white;

    border-radius: 2vh;
    padding: 15px;
    font-size: 16px;
    border-bottom: 100px;
}