@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: auto;
}

.externa_comprar_pacote {
    height: 38vh;
}

.externa_logo_comprar_pacote {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_comprar_pacote {
    background-image: url(imagens/logo-Rota-Aventura.jpeg);
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 12vh;
}

.titulo_comprar_pacote {
    display: flex;
    justify-content: center;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #003847;
    font-size: 30px;
}   

.externa_topicos_comprar_pacote {
    display: flex;
    justify-content: center;
}

ul {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    gap: 2em;
}

.titulo_topico_comprar_pacote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #003847;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}

.fundo_final_comprar_pacote {
    display: flex;
    justify-content: center;
}

.final_comprar_pacote {
    width: 90%;
    height: 28vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #003847;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.direcionar_comprar_pacote {
    display: block;
    width: 100%;
    height: 100%;
}

.externa_comprar_pacote_desktop {
    width: 100%;
}

.lado_esquerdo_comprar_pacote_desktop {
    display: none;
}

hr {
    display: none;
}

.titulo_topicos_comprar_pacote_desktop {
    display: none;
}

/* =========================================== Desktop =============================================== */

@media screen and (min-width: 1024px) {

    .externa_comprar_pacote {
        display: none;
    }

    .fundo_final_comprar_pacote {
        display: none;
    }

    .externa_comprar_pacote_desktop {
        display: flex;
        justify-content: space-evenly;
    }

    .lado_esquerdo_comprar_pacote_desktop {
        width: 30%;
        height: 70vh;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
    }

    .externa_logo_comprar_pacote_desktop {
        height: 26dvh;
    }

    .logo_comprar_pacote {
        width: 15vw;
        height: 20vh;
    }

    .final_comprar_pacote_desktop {
        display: flex;
        flex-flow: column wrap;
        height: 40%;
        justify-content: space-evenly;
    }

    a {
        font-size: 20px;
    }

    h3 {
        font-size: 22px;
    }

    hr {
        display: block;
        height: 100vh;
        border-color: #003847;
        border-width: 1px;
    }

    .externa_topicos_comprar_pacote {
        width: 60%;
        height: 75vh;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
    }

    .titulo_topicos_comprar_pacote_desktop {
        display: block;
    }

    ul {
        width: 100%;
    }
}