@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.externa_hoteis_populares {
    height: 36vh;
}

.externa_logo_hoteis_populares {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_hoteis_populares {
    background-image: url(imagens/logo-Rota-Aventura.jpeg);
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 10vh;
}

.titulo_hoteis_populares {
    display: flex;
    justify-content: center;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color:  #003847;
    font-size: 30px;
}

.externa_subtitulo_hoteis_populares {
    height: 9vh;
    align-content: center;
}

.subtitulo_hoteis_populares {
    display: flex;
    justify-content: center;
}

h3 {
    color: #B36E00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.quadrado_hotel_hoteis_populares {
    height: 65vh;
    border: 2px solid #F5EBE0;
    border-radius: 15px;
    background-color: #F5EBE0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.titulo_quadrado_hotel_hoteis_populares {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h4 {
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    color: #003847;
    font-size: 22px;
}

.avaliacao_quadrado_hoteis_populares {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.nota_avaliacao_hoteis_populares {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 22px;
    display: flex;
    background-color: #4B8848;
    border: 2px solid #4B8848;
    border-radius: 15px;
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.imagem_hotel_hoteis_populares_1 {
    background-image: url(imagens/grand-mercure-rio-de-janeiro.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    height: 25vh;
    border: 2px solid #F5EBE0;
    border-radius: 15px;
}

.imagem_hotel_hoteis_populares_2 {
    background-image: url(imagens/windsor-barra.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    height: 25vh;
    border: 2px solid #F5EBE0;
    border-radius: 15px;
}

.imagem_hotel_hoteis_populares_3 {
    background-image: url(imagens/hilton-barra-rio-de-janeiro.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    height: 25vh;
    border: 2px solid #F5EBE0;
    border-radius: 15px;
}

.fundo_comodidades_hoteis_populares {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
}

.externa_comodidades_hoteis_populares {
    width: 45%;
    height: 20vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.comodidade_hoteis_populares {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-content: flex-start;
    gap: 0.3em;
}

.wifi_comodidade_hoteis_populares {
    background-image: url(imagens/wi-fi.png);
    background-size: cover;
    background-position: center;
    width: 15%;
    height: 100%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #003847;
    font-size: 20px;
}

.cafe_comodidade_hoteis_populares {
    background-image: url(imagens/caneca-de-cafe.png);
    background-size: cover;
    background-position: center;
    width: 15%;
    height: 100%;
}

.elevador_comodidade_hoteis_populares {
    background-image: url(imagens/elevador.png);
    background-size: cover;
    background-position: center;
    width: 15%;
    height: 100%;
}

.ar_condicionado_comodidade_hoteis_populares {
    background-image: url(imagens/floco-de-neve.png);
    background-size: cover;
    background-position: center;
    width: 15%;
    height: 100%;
}

.boa_localizacao_comodidade_hoteis_populares {
    background-image: url(imagens/pin-de-localizacao-azul.png);
    background-size: cover;
    background-position: center;
    width: 15%;
    height: 100%;
}

.piscina_comodidade_hoteis_populares {
    background-image: url(imagens/piscina.png);
    background-size: cover;
    background-position: center;
    width: 15%;
    height: 100%;
}

.fundo_botao_hoteis_populares {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.botao_hoteis_populares {
    background-color: #B36E00;
    border: 2px solid #B36E00;
    border-radius: 15px;
    width: 45%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: flex;
}

.fundo_quadrados_hoteis_populares {
    display: flex;
    flex-flow: column wrap;
    gap: 3em;
}

.direcionar_hoteis_populares {
    display: block;
    width: 100%;
    height: 100%;
}