@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5ebe0;
}

.ilss {
    background-image: url(imagens/logo-sem-o-fundo.png);
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 10vh;
    
    display: block;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
}

.hlc {
    text-align: center;
}

.loc {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 80%;

    height: 40%;
    padding: 15px;
    
}