 @media(min-width: 1024px){

    *{
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    main {
        width:100%;
        margin:auto;
    }

    /*Inico cabecalho*/

    

    .ipt2{
        display: none;
    }

    .one{
        width: 100%;
        display: flex;
        justify-content: space-around;
        top: 0;
        /* left: 0; */
        z-index: 1000;
        background-color: white;
        position: fixed;
    }

    #header{justify-content: space-between;
        display: flex;
        margin: auto;
        justify-content: space-between;
    }
    .dsp2{
        display: block;
    }

    .alte{
        height: 20vh;
    }

    .dsp1{
        display: none;
    }

    .dsp{
        display: none;
    }

    #btn1{
        display: none;
    }

    #logo{
        width: 21vh;
        height: 15vh;
    }



    .cabecalho1 a{
        text-decoration: none;
        color: #003847;
        font-size: 25px;
        margin-right: 5vh;
    }

    .cabecalho1 a:hover{
        cursor: pointer;
    }

    #btn2{
        background-color: transparent;
        border: none;
        width: 20vh;
    }

    #user{
        display: none;
    }

    .hm{
        display: none;
    }

    #btn2{
        display: none;
    }

    #esconder{
        display: none;
    }

    #esconder2{
        display: none;
    }

    input:focus{
        outline: none;
    }

    .menuGrupo{
        display: flex;
        align-items: center;
    }

    /*Final do cabecalho*/

    /*Inicio personalize o pacote*/

    .org2{
        display: flex;
        align-items: center;
    }

    #coluna{
        flex-direction: column;
    }

    #btnPassag{
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: transparent;
        border-radius: 100%;
        width: 3vh;
        height: 3vh;
        border: solid 0.5px #727374a2
    }

    #btnQuart{
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: transparent;
        border-radius: 100%;
        width: 3vh;
        height: 3vh;
        border: solid 0.5px #727374a2
    }

    .infDemais{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        background-color: #ffffff;
        width: 36vh;
        height: 14vh;
        border-radius: 2vh;
    }

    .passager1{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .passager2{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .prevBtn{
        font-size: 15px;
        color: #0038478f;
    }

    .nextBtn{
        font-size: 15px;
        color: #0038478f;

    }

    .prevBtn2{
        font-size: 15px;
        color: #0038478f;
    }

    .nextBtn2{
        font-size: 15px;
        color: #0038478f;

    }

    .imgInput1 {
        margin-right: 1vh;
        align-items: center;
        border-radius: 2vh;
        width: 32vh;
        display: flex;
        background-color: white;
        height: 7vh;
    }

    .imgInput2 {
        margin-right: 1vh;
        align-items: center;
        border-radius: 2vh;
        width: 19vh;
        display: flex;
        background-color: white;
        height: 7vh;
    }
    .imgInput3 {
        margin-right: 1vh;
        align-items: center;
        border-radius: 2vh;
        width: 36vh;
        display: flex;
        background-color: white;
        height: 7vh;
    }

    #imgOrg{
        background-image:url('imagens/fundo.png');
        background-size:cover; 
        position:relative;
        width: 100%;
        height: 74vh;
        background-position: center;

    }

     .pacotePerson {
         
        /* position: absolute; */
        align-items: center;
        text-align:center;
        /* padding:42vh; */
        display: flex;
        justify-content: space-around;
        margin-bottom: 5vh;
    }

    .ipt4 {
        /* background-color: orange; */
        flex-direction: column;
        background-color:#f5ebe09c; 
        justify-content:center;
        gap:1vh;
        height: 35vh;
        border-radius:2vh;
        width:98%;
        display:flex;
        align-items:center;
        position:absolute;
        box-shadow:0 10px 20px rgba(0,0,0, 0.2);
    }

    .ipt4 h2{
        color: #003847;
        font-size: 35px;
    }

    .txt{
        display: flex;
        width: 90%;
        margin: auto;
    }

    .tx2{
        width: 90%;
        flex-direction: column;
        display: flex;
        align-items: start;
        margin: auto;
        margin-bottom: 1vh;
    }

    .ipt2 h2 {
        
        color:#003847;
        margin-bottom:10px;
    }


    .ipt3 {
        display:flex;
    }

    .ipt3 input{
        margin-right: 3vh;
    }



    .char{
        width: 36vh;
    }


    .ipt1{
        /* width: 31vh;
        height: 3vh;
        margin-bottom:2vw; */
        /* border-radius:2vh; */
        padding:1vh;
        cursor:pointer;
        color:black;
        border:none;
        font-size: 16px;
    }

    .ipt {
        height: 3vh;
        /* margin-bottom:2vw; */
        width:100%;
        padding:10px;
        border-radius:2vh;
        padding:1vh;
        cursor:pointer;
        background-color: rgb(255,255,255);
        color:black;
        border:none;
        font-size: 15px;
    }

    /* .ipt1{
        font-size: 15px;
    } */

    #btn3 {
        color:white;
        background-color:#003847;
        border:none;
        height:6.5vh;
        width:50%;
        border-radius:2vh;
        font-size: 15px;
    }

    #btn3 a{
        text-decoration: none;
        color: white;
    }

    .teste {
        display: none;
    }


    .olay{
        display: flex;
    }

    .olay input{
        /* width: 0vh; */
        display: flex;
        background-color: white;
        height: 5vh;
        border-radius: 2vh;
        
    }


    .esconde5 h5{
        margin-bottom: 0;
        font-size: 16px;
    }

    /*Fim personalize o pacote*/


    /*Promocao inicio*/

    #promoc{
        width: 98%;
        margin: auto;
        overflow: hidden;
    }

    .container3{
        display: flex;
        margin-bottom: 2vh;
        /* overflow-x: auto; */
        /* overflow-x: auto;  */
        /* overflow: hidden; */
        transition: transform 0.5s ease-in-out;

        
    }

    /* .org3{
        width: 90%;
        margin: auto;
    } */

    .org4{
        width: 100%;
    }

    .img3{
        width: 100%;
    }

     #fundoimg1 {
        /* scroll-snap-align: center; */
        background-position: center;
        flex-shrink: 0;
        height: 65vh;
        min-width: 100%;
        background-image:url('imagens/fundo2.png');
        background-size:cover;
        border-radius: 2vh;
        /* position: absolute; */
        position:relative;
        text-align:center;
        padding:20px; 
        display: flex;
        align-items:flex-end;
        justify-content: flex-end;
        margin-bottom: 2vh;
        margin-top: 3vh;
        box-sizing: border-box;
    }

    #fundoimg2 {
        /* scroll-snap-align: center; */
        background-position: center;
        flex-shrink: 0;
        height: 65vh;
        min-width: 100%;
        background-image:url('imagens/cruzeiro.png');
        background-size:cover;
        border-radius: 2vh;
        /* position: absolute; */
        position:relative;
        text-align:center;
        padding:20px; 
        display: flex;
        align-items:flex-end;
        justify-content: flex-end;
        margin-bottom: 2vh;
        margin-top: 3vh;
        box-sizing: border-box;
    }

     #fundoimg3 {
        /* scroll-snap-align: center; */
        background-position: center;
        flex-shrink: 0;
        height: 65vh;
        min-width: 100%;
        background-image:url('imagens/maes.png');
        background-size:cover;
        border-radius: 2vh;
        /* position: absolute; */
        position:relative;
        text-align:center;
        padding:20px; 
        display: flex;
        align-items:flex-end;
        justify-content: flex-end;
        margin-bottom: 2vh;
        margin-top: 3vh;
        box-sizing: border-box;
    }



    .sobrep {
        height: 40vh;
        border-radius:2vh;
        width:40%;
        
        background-color:rgba(255, 255, 255, 0.747);
        box-shadow:0 10px 20px rgba(0, 0, 0, 0.61);

    }

    

    .sobrep h4 {
        width: 80%;
        font-size: 23px;
        color:#003847;
        margin: auto;
        padding: 1vh;
       margin-top: 1vh;
    }

    .sobrep h5{
        width: 80%;
        font-weight: bold;
        font-size: 15px;
        margin: auto;
        padding: 1vh;
    }

    .sobrep p {
       
        width: 80%;
        color: #B36E00;
        font-weight: bold;
        font-size: 18px;
        margin: auto;
        padding: 1vh;
    }

    #zapp{
        margin-bottom: 1vh;
    }

    /* #Promocao{
        justify-content: center;
        display: flex;
    } */
    /*Promocao final*/

    /*Pacotes inico*/

    .esconde6{
        display: none;
    }


    .container1{
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .container1 h2{
        font-size: 35px;
        margin-bottom: 5vh;
        color: #003847;
    }

    .cards{
        display: flex;
        justify-content: space-evenly;
    }

    
    .c{
        margin: auto;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .c h4{
        font-size: 20px;
        color: #003847;
    }

    .cardmain{
        width: 23%;
        text-align: center;
        background-color: #f5ebe0c0;
        border-radius: 2vh;
        justify-content: center;
        margin-right: 2vh;
        box-shadow: 0px 5px 10px rgba(0,0,0, 0.2);
        margin-bottom: 2vh;
    }

    

    .imgFundo3{
        background-image: url('imagens/Rio-de-Janeiro.jpg');
        width: 20.5vw;
        height: 27vh;
        background-size:cover;
        border-radius: 2vh;
        background-position: center;
    }


    .imgFundo5{
        background-image: url('imagens/bahia.png');
        width: 20.5vw;
        height: 27vh;
        background-size:cover;
        border-radius: 2vh;
        background-position: center;
    }

    .imgFundo6{
        background-image: url('imagens/bonito.png');
        width: 20.5vw;
        height: 27vh;
        background-size:cover;
        border-radius: 2vh;
        background-position: center;
    }

    .imgFundo7{
        background-image: url('imagens/pantanal.png');
        width: 20.5vw;
        height: 27vh;
        background-size:cover;
        border-radius: 2vh;
        background-position: center;
    }

    .imgFundo8{
        background-image: url('imagens/Gramado.png');
        width: 20.5vw;
        height: 27vh;
        background-size:cover;
        border-radius: 2vh;
        background-position: center;
    }

    .imgFundo15{
        background-image: url('imagens/monteVerde.png');
        width: 20.5vw;
        height: 27vh;
        background-size:cover;
        border-radius: 2vh;
        background-position: center;
    }

    .imgFundo16{
        background-image: url('imagens/Manaus.png');
        width: 20.5vw;
        height: 27vh;
        background-size:cover;
        border-radius: 2vh;
        background-position: center;
    }



    .starTamImg{
        width: 1.5vw;
        height: 3vh;
    }

    .txt1{
        display: flex;
        text-align: center;
    }

    .container1 h2{
        text-align: center;
    }
    .pCor {
        text-align: left;
        margin: auto;
        width: 90%;
        font-size: 15px;
        padding: 0;
        margin-top: 0;
        color: #B36E00;
    }

    .pTam{
        color: #1a6726;
        font-size: 15px;
    }

    .redir{
        width: 1.5vw;
        height: 3.2vh;
    }

    .money{
        color: rgb(28, 105, 34);
    }

    .btn4{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        height: 7vh;
        width: 7vw;
        background-color: #B36E00;
        border: transparent;
        color: white;
        border-radius: 2vh;
    }

    .manuBtn{
        padding-bottom: 5vh;
        text-align: -webkit-center;
    }

    .btn4 a{
        font-size: 15px;
        text-decoration: none;
        color: white;
    }

    .bot{
        text-align: center;
    }

    .bot button{
        background-color: transparent;
        border: solid 1px #0038478f;
        width: 3vh;
        height: 3vh;
        border-radius: 100%;
    }

    /*Fim Pacotes*/


    /*Hotel inicio*/


    .htl{
        text-align: center;
        
    }

    .htl2 {
        margin-bottom: 2vh;
        font-size: 25px;
    }

    .container2{
        display: flex;
        /* overflow:hidden; */
        /* flex-wrap: wrap; */
        margin-bottom: 2vh;
        justify-content: space-around;
        margin: auto;
        margin-bottom: 2vh
    }

    .htl2{
        font-size: 35px;
        margin-bottom: 1vh;
        color: #003847;
    }

    #hostel1{
        background-image: url("imagens/Porto-de-Galinhas-pousada-piscina.webp");
        width: 20vw;
        height: 30vh;
        background-size:cover;
        text-align: center;
        justify-content: flex-end;
        margin-top: 3vh;
        border-radius: 2vh;
        margin-right: 2vh;
    }

     #hostel2{
        background-image: url("imagens/hotelAmazonas.png");
         width: 20vw;
        height: 30vh;
        background-size:cover;
        text-align: center;
        justify-content: flex-end;
        margin-top: 3vh;
        border-radius: 2vh;
        margin-right: 2vh;
    }

     #hostel3{
        background-image: url("imagens/hotelcataratas.png");
        width: 20vw;
        height: 30vh;
        background-size:cover;
        text-align: center;
        justify-content: flex-end;
        margin-top: 3vh;
        border-radius: 2vh;
        margin-right: 2vh;
    }

     #hostel4{
        background-image: url("imagens/hotelGramado.png");
         width: 20vw;
        height: 30vh;
        background-size:cover;
        text-align: center;
        justify-content: flex-end;
        margin-top: 3vh;
        border-radius: 2vh;
        margin-right: 2vh;
    }

    #hostel5{
        background-image: url("imagens/hotelParaty.png");
         width: 20vw;
        height: 30vh;
        background-size:cover;
        text-align: center;
        justify-content: flex-end;
        margin-top: 3vh;
        border-radius: 2vh;
        margin-right: 2vh;
    }

    #hostel6{
        background-image: url("imagens/hotelSaoPaulo.png");
         width: 20vw;
        height: 30vh;
        background-size:cover;
        text-align: center;
        justify-content: flex-end;
        margin-top: 3vh;
        border-radius: 2vh;
        margin-right: 2vh;
    }

    #hostel7{
        background-image: url("imagens/hotelJericoara.png");
         width: 20vw;
        height: 30vh;
        background-size:cover;
        text-align: center;
        justify-content: flex-end;
        margin-top: 3vh;
        border-radius: 2vh;
        margin-right: 2vh;
    }

    #hostel8{
        background-image: url("imagens/hotel-italia.avif");
         width: 20vw;
        height: 30vh;
        background-size:cover;
        text-align: center;
        justify-content: flex-end;
        margin-top: 3vh;
        border-radius: 2vh;
        margin-right: 2vh;
    }

    .hotel21{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .cidade{
        border-radius: 2vh;
        text-align: center;
        width: 25vh;
        background-color: #f5ebe0b9;
    }

      .cidade2{
        display: flex;
        justify-content: center;
        text-align: end;
        border-radius: 2vh;
        text-align: center;
        width: 25vh;
    }


    .cidade3{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: flex-end;
    }

    /* .cidade2{
        display: flex;
        justify-content: center;
        text-align: end;
    } */

    .cidade2 a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    
    /*Hotel fim*/

    /*Passeio Inicio*/

    #esconde8{
        display: none;
    }
    
    #esconde9{
        display: none;
    }




    .desp{
        justify-content: space-around;
        margin: auto;
        display: flex;
        margin-bottom: 2vh;
        flex-wrap: wrap;
    }

    .cardmain2{
        width: 30%;
        flex-direction: column;
        display: flex;
        text-align: center;
        background-color: #f5ebe044;
        border-radius: 2vh;
        justify-content: center;
        margin-right: 2vh;
        border: solid 0.5px #0038470e;
        box-shadow:0 10px 10px rgba(0,0,0, 0.1);
        margin-bottom: 2vh;
    }

   .PasseioZap{
    display: block;
   }

   .redir2{
        width: 3.5vh;
        height: 4vh;
        margin-bottom: 2vh;

   }

   .color1{
    color: #003847;
    font-weight: bold;
   }

   .imgFundo9{
        background-position: center;
        background-image: url('imagens/lancha2.png');
        width: 100%;
        height: 30vh;
        background-size:cover;
        border-radius: 2vh;
   }

   .imgFundo10{
        background-position: center;
        background-image: url('imagens/passeioBonito.png');
        width: 100%;
        height: 30vh;
        background-size:cover;
        border-radius: 2vh;
   }

   .imgFundo11{
        background-position: center;
        background-image: url('imagens/passeioChapada.png');
        width: 100%;
        height: 30vh;
        background-size:cover;
        border-radius: 2vh;
   }

   .imgFundo12{
        background-position: center;
        background-image: url('imagens/passeioJangada.png');
        width: 100%;
        height: 30vh;
        background-size:cover;
        border-radius: 2vh;
   }
   .imgFundo13{
        background-position: center;
        background-image: url('imagens/passeioLençol.png');
        width: 100%;
        height: 30vh;
        background-size:cover;
        border-radius: 2vh;
   }
   .imgFundo14{
        background-position: center;
        background-image: url('imagens/passeioSalvador.png');
        width: 100%;
        height: 30vh;
        background-size:cover;
        border-radius: 2vh;
   }



   .pssio{
    text-align: center;
    font-size: 35px;
   }

   .c2{
    width: 90%;
    margin: auto;
   }

   .c2 h4{
    font-size: 20px;
    color: #003847;
   }

   /* .bot{
    display: none;

   } */

   .passeio25{
    margin: auto;
    width: 90%;
   }
   
    /*Passeio Fim*/

    /*inicio fotoG*/
   .fotoG2{
    margin-top: 10vh;
    background-image: url('imagens/fotoG.png');
    display: block;
    background-size:cover;
    height: 62vh;
    
   }

   /* .fotoG{
    background-image: url('imagens/fotoG.png');
    height: 100vh;
    width: 100vh;
   } */
    /*final fotoG*/


        /*Quem somos inicio*/
   .pnulSec{
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: #F5EBE0;
    border-radius: 2vh;

   }

   .pnulSec H4{
    font-size: 20px;
    padding-top: 5vh;
    margin-top: 5vh;
    color: #003847;
   }

   .pnulSec p{
    margin: auto;
    text-align: start;
    width: 90%;
    font-size: 20px;
   }

   .esconde4{
    padding-bottom: 5vh;
   }

   #amg{
    margin-bottom: 5vh;
    height:74vh;
    width: 146vh;
    border-radius: 2vh;
   }

   .pnulSec h4{
    color: #003847;
    font-size: 35px;
   }

    /*Quem somos final*/

    .linha{
        margin-top: 8vh;
        color: #003847;
        width: 100%;
        font-size: 30px;
        margin-bottom: 8vh;
    }

     /*Footer começo*/

    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: 90%;
    }

    .footer a{
        text-decoration: none;
        color: black;
    }

    .imgFooter{
        width: 3vh;
        height: 3vh;
        margin-right: 1.5vh;
    }

    .a2{
        padding-bottom: 3vh;
    }

    .bordamap{

        width: 60vh;
        height: 38vh;
        border: solid 1px #003847;
    }

    #mapp{
        
        width: 60vh;
        height: 38vh;
    }

    .a3{
        margin-bottom: 3vh;
    }

     .footer2{
        align-items: center;

    }

   .img2{
        margin-top: 4vh;
        width: 6vh;
        height: 6vh;
        margin-right: 2vh;
   }

   .cont h3{
    font-size: 20px;
    color: #003847;
   }

   #termoMain{
    font-size: 20px;
    color: #003847;
   }

   #final{
    margin-top: 10vh;
    text-align: center;
    font-size: 15px;
   }

    /*Footer final*/


}