@media (min-width:400px) and (max-width: 768px){

    * {

        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }


    /*Cabeçalho*/

    /* #header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    } */

    main {
        width:95%;
        margin:auto;
    }

    .one {
        display:flex;
        justify-content:space-around;
        align-items:flex-start;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: white;
    }

    .cabecalho {

        display:flex;
        flex-direction:column;
    }

    .cabecalho a {
        text-decoration:none;
        color:black;
        display:flex;
        flex-direction:column;
    }

    .cabecalho a img {
        display:block;
        margin:0 auto;
    }

    .menuGrup {
        display: flex;
        flex-direction:column;
    }

    #btn1 {
        background-color:white;
        border:none;
    }

    #menu {
        width:6vw;
        height:6vh;
    }

    #logo {
        width:18vw;
        height:8vh;
    }

    #user {
        height:5vh;
    }

    #btn2 {
        background-color:white;
        border:none;
    }

    .dsp1 {
        display:none;

    }

    #esconder2{
        display: block;
    }

    #esconder3{
        display: none;
    }

    .dsp2{
        display: none;
    }



    /*Final Cabecalho*/

    /*Personalize seu pacote*/

    .pacotePerson {
        background-image:url('imagens/fundo.png');
        background-size:cover;
        /* position: absolute; */
        position:relative;
        text-align:center;
        padding:20vh;

    }

    .ipt2 {
        background-color:#f5ebe09c;
        justify-content:center;
        gap:1vh;
        padding:2vh;
        border-radius:2vh;
        width:90%;
        display:flex;
        flex-direction:column;
        align-items:center;
        position:absolute;
        bottom:0;
        left:50%;
        transform:translate(-50%,50%);
        width:80%;
        max-width:600px;
        box-shadow:0 10px 20px rgba(0,0,0, 0.2);
    }

    .ipt2 h2 {

        color:#003847;
        margin-bottom:10px;
    }


    .ipt3 {
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .ipt {
        margin-bottom:2vw;
        width:100%;
        padding:10px;
        border-radius:2vh;
        padding:1vh;
        cursor:pointer;
        background-color: rgb(255,255,255);
        color:black;
        border:none;
    }

    #btn3 {

        color:white;
        background-color:#003847;
        border:none;
        height:3vh;
        width:70%;
        border-radius:2vh;
    }

    #btn3 a{
        text-decoration: none;
        color: white;
    }

    .teste {
        padding-top:0vh;
    }
    /*Final personalize seu pacote*/


    /*Promoção*/
    .fundo2 {
        background-image:url('imagens/fundo2.png');
        background-size:cover;
        border-radius: 2vh;
        /* position: absolute; */
        position:relative;
        text-align:center;
        padding:20px;
        display: flex;
        align-items:flex-end;
        justify-content: flex-end;
        margin-bottom: 2vh;
        margin-top: 28vh;
    }

    .sobrep {
        border-radius:2vh;
        width:60%;
        margin-top:5vh;
        background-color:rgba(255, 255, 255, 0.678);
        box-shadow:0 10px 20px rgba(0, 0, 0, 0.61);

    }

    .sobrep h4 {
        width: 80%;
        font-size: 18px;
        color:#003847;
        margin: auto;
        padding: 2vh;
       
    }

    .sobrep h5{
        width: 80%;
        font-weight: bold;
        font-size: 18px;
        margin: auto;
        padding: 1vh;
    }

    .sobrep p {
       
        width: 80%;
        color: #B36E00;
        font-weight: bold;
        font-size: 18px;
        margin: auto;
        padding: 1vh;
    }

    #zapp{
        margin-bottom: 1vh;
    }

    /*Fim Promoção*/

    /*Inico Pacotes*/

    .esconde5{
        display: none;
    }

    .container1{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .cards{
        display: flex;
    }


    .cardmain{
        width: 48%;
        text-align: center;
        background-color: #f5ebe0c0;
        border-radius: 2vh;
        justify-content: center;
        margin-right: 2vh;
        box-shadow: 0px 5px 10px rgba(0,0,0, 0.2);
        margin-bottom: 2vh;
        
    }

    .imgFundo3{
        background-image: url('imagens/Rio-de-Janeiro.jpg');
        width: 45vw;
        height: 20vh;
        background-size:cover;
        border-radius: 2vh;
    }

    .starTamImg{
        width: 4vw;
        height: 3vh;
    }

    .txt1{
        display: flex;
        text-align: center;
    }

    .container1 h2{
        text-align: center;
    }
    .pCor{
        color: #B36E00;
    }

    .pTam{
        font-size: 15px;
    }

    .redir{
        width: 3vw;
        height: 3vh;
    }

    .redir input{
        outline: none;
    }

    .money{
        color: rgb(28, 105, 34);
    }

    .btn4{
        align-items: center;
        display: flex;
        justify-content: space-around;
        height: 7vh;
        width: 27vw;
        background-color: #B36E00;
        border: transparent;
        color: white;
        border-radius: 2vh;
    }

    .manuBtn{
        padding-bottom: 5vh;
        text-align: -webkit-center;
    }

    .btn4 a{
        text-decoration: none;
        color: white;
    }

    .bot{text-align: center;
    }

    .bot button{
        background-color: transparent;
        border: solid 1px #0038478f;
        width: 1vh;
        height: 2vh;
        border-radius: 100%;
    }

    /*final pacotes*/

    /*inicio hotel*/

    .htl{
        text-align: center;
        
    }

    .htl2 {
        margin-bottom: 2vh;
        font-size: 25px;
    }

    .container2{
        display: flex;
        overflow: hidden;
        margin-bottom: 2vh;
        
    }

    .hostel1{
        background-image: url("imagens/Porto-de-Galinhas-pousada-piscina.webp");
        width: 45vw;
        height: 26vh;
        background-size:cover;
        text-align: center;
        justify-content: flex-end;
        margin-top: 3vh;
        border-radius: 2vh;
        margin-right: 2vh;
    }

     .hostel2{
        background-image: url("imagens/Chile.jpg");
        width: 45vw;
        height: 26vh;
        background-size:cover;
        text-align: center;
        justify-content: flex-end;
        margin-top: 3vh;
        border-radius: 2vh;
        margin-right: 2vh;
        margin-bottom: 2vh;
    }

     .hostel3{
        background-image: url("imagens/Hotel_California.jpg");
        width: 45vw;
        height: 26vh;
        background-size:cover;
        text-align: center;
        justify-content: flex-end;
        margin-top: 3vh;
        border-radius: 2vh;
        margin-right: 2vh;
    }

     .hostel4{
        background-image: url("imagens/Rio-de-Janeiro.jpg");
        width: 45vw;
        height: 26vh;
        background-size:cover;
        text-align: center;
        justify-content: flex-end;
        margin-top: 3vh;
        border-radius: 2vh;
        margin-right: 2vh;
    }

    .cidade{
        border-radius: 2vh;
        text-align: center;
        width: 25vh;
        background-color: #f5ebe0b9;
    }

    .cidade3{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: flex-end;
    }

    .cidade2{
        display: flex;
        justify-content: center;
        text-align: end;
    }

    .cidade2 a{
        text-decoration: none;
        color: black;
    }

    /*final hotel*/

    /*inicio fotoG*/
   .fotoG2{
    display: none;
   }
    /*final fotoG*/

    /*Passeio Inicio*/

    .desp{
        display: flex;
        overflow: hidden;
        margin-bottom: 2vh;
    }

    .cardmain2{
        display: flex;
        width: 100%;
        text-align: center;
        background-color: #f5ebe044;
        border-radius: 2vh;
        justify-content: center;
        margin-right: 2vh;
        border: solid 0.5px #0038470e;
        box-shadow:0 10px 10px rgba(0,0,0, 0.1);
        margin-bottom: 2vh;
    }

   .PasseioZap{
    display: block;
   }

   .redir2{
        width: 5vw;
        height: 3vh;
        margin-bottom: 2vh;

   }

   .color1{
    color: #003847;
   }

   .imgFundo4{
        background-image: url('imagens/lancha3.jpg');
        width: 43vh;
        height: 30vh;
        background-size:cover;
        border-radius: 2vh;
   }


   .pssio{
    text-align: center;
    font-size: 25px;
   }

   .c2{
    width: 100%;
    margin: auto;
   }

   .c2 h4{
    color: #003847;
   }

    /*Passeio Fim*/


    /*Quem somos inicio*/
   .pnulSec{
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: #F5EBE0;

   }

   .pnulSec H4{
    font-size: 20px;
    padding-top: 5vh;
    margin-top: 5vh;
    color: #003847;
   }

   .pnulSec p{
    padding: 3vh;
    margin: auto;
    text-align: center;
    width: 90%;
    padding-bottom: 4vh;
   }

   #amg{
    width: 50vh;
    border-radius: 2vh;
   }

   .esconde4{
    display: none;
   }

    /*Quem somos final*/

    .linha{
        margin-top: 8vh;
        color: #003847;
        width: 80%;
        font-size: 30px;
        margin-bottom: 8vh;
    }

    /*Footer começo*/

    .footer{
        align-items: center;
        text-align: center;
        width: 70%;
        margin: auto;
    }

    .footer a{
        text-decoration: none;
        color: black;
    }

    .imgFooter{
        width: 3vh;
        height: 3vh;
        margin-right: 1.5vh;
    }

    .a2{
        padding-bottom: 3vh;
    }

    #mapp{
        margin-top: 3vh;
        width: 42vh;
        height: 28vh;
    }

    .a3{
        margin-bottom: 3vh;
    }

     .footer2{
        align-items: center;
        text-align: center;
        width: 70%;
        margin: auto;
    }

    /*Footer final*/

}