@media (min-width: 400px) and (max-width: 769px){
    
    *{
        font-family: Arial, Helvetica, sans-serif;
    }

    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /*Cabeçalho*/

    main{
        width: 95%;
        margin: auto;
    }

    .one{
        margin-top: 2vh;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

    }

    .cabecalho{
        display: flex;
        flex-direction: column;
    }

    .cabecalho a{
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
    }

    .cabecalho a img{
        display: block;
        margin: 0 auto;
    }

   .menuGrup{
    display: flex;
    flex-direction: column;
   }

    #btn1{
        background-color: white;
        border: none;

    }

    #menu{
        width: 6vw;
        height: 6vh;
    }

    #logo{
        width: 18vw;
        height: 8vh;
    }

    #user{
        width: 7vw;
        height: 6vh;
    }

    #btn2{
        background-color: white;
        border: none;
    }

    .dsp{
        display: flex;
    }

    /*Final Cabecalho*/

    /*Personalize seu pacote*/

    

 
    .pacotePerson{
        background-image: url('imagens/fundo.png');
        background-size: cover;
        /* position: absolute; */
        position: relative;
        text-align: center;
        padding: 20px;
    }


    .ipt2{
        background-color: rgb(214, 48, 48);
        display: flex;
        justify-content: center;
        gap: 4vh;
        padding: 3vh;
        border-radius: 2vh;
        width: 90%;
    }

    .ipt3{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .ipt{
        margin-bottom: 2vw;
        width: 100%;
        padding: 10px;
        border-radius: 2vh;
        padding: 1vh;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        color: black;
        border: none;
    }

    #btn3{
        color: white;
        background-color: #003847;
        border: none;
        height: 36%;
        width: 100%;
        border-radius: 2vh;
        
    }
    /*Final personalize seu pacote*/

    /*Promoção*/
    
    .fundo2{
        background-image: url('imagens/fundo2.png');
        background-size: cover;
        /* position: absolute; */
        position: relative;
        text-align: center;
        padding: 20px;
        align-items: flex-end;
    }

    .sobrep{
        border-radius: 2vh;
        width: 50%;
        margin-top: 5vh;
        background-color: rgba(255, 255, 255, 0.671);
    }

    .sobrep h4{
        
       color: blueviolet;
    }


    /*Fim Promoção*/
    
}