@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1440px;
    margin: auto;
}

.termos {
    background-image: url(imagens/logo-sem-o-fundo.png);
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 10vh;
}

.hcss {
    text-align: center;
    font-size: 30px;
    color: #003847;
}

.pss {
    text-align: justify;
    font-size: 20px;
}

/*------------------------------------- Inicio Desktop ---------------------------------*/

@media screen and (min-width: 1024px) {

    .termos {
        width: 10vw;
        height: 15vh;
        margin-left: 50px;
        margin-top: 20px;
    }

    .hcss {
        font-size: 35px;
    }

    .pss {
        font-size: 25px;
        
    }

}