@charset "UTF-8";

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

.gallery-item {
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 8px;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightbox-content {
    max-width: 70%;
    max-height: 70%;
    border-radius: 5px;
}

.outras_imagens_lightbox {
    width: 40%;
    height: 40%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}